/******************************************************************************
 MASTER STYLES FOR SCREEN MEDIA
 ******************************************************************************/

/* GLOBALS */

a { color: #FF9052; }
a:hover { color: #B55722; }
a:active { color: #FF9052; }

/* HTML */
html { color: #453c37; background: url(../img/bg-red.png) 50% 0 repeat; }

/* HIGHTLIGHT */
.highlight { color: #FF9052; font-weight: bold; }

/******************************************************************************
 PRIMARY SECTION 
 ******************************************************************************/

/* NAV */
ul#nav li.current a { border-bottom: 2px solid #B55722; color: #B55722; }
