body { color: #453c37; background: url(../img/bg-blue.png) 50% 0 repeat; }

#wrap { padding: 0px; }
footer h2 { font-family: "Ubuntu", sans-serif; color: white; }

h1 {
  color: inherit;
}

a:visited, a:link {
  color: inherit;
}

.copyright {
  color: inherit;
}
