/******************************************************************************
 MASTER STYLES FOR SCREEN MEDIA
 ******************************************************************************/

/* GLOBALS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, ins, strike, strong, sub, sup, dt, dd, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {	margin: 0; padding: 0; border: 0; }
ul, ol, li, dl { border: 0; }

a:active { outline: 0; }
abbr, acronym { font-size: .9em; cursor: help; }
body { line-height: 1; font-size: small; }
blockquote, q {	quotes: none; }
ins { text-decoration: none; }
del {	text-decoration: line-through; }
table {	border-collapse: collapse; border-spacing: 0; }
.hidden { display: none; }

a.green { color: #359A41; }
a.green:hover { color: #1B8D29; }
a.green:active { color: #359A41; }

hr { border-style: dotted; border-width: 1px 0px 0px 0px; }

/* HTML */
html { min-width: 960px; font-family: "Calibri", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif; }

/* LAYOUT */
#header, #content, #feature, #footer { width: 940px; margin: 0 auto; }

/* TRAC OVERWRITE */
h1, h2, h3, h4 { letter-spacing: 0; font-family: "Calibri", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif; }
#secondary #footer { line-height: 14px; }

/******************************************************************************
 PRIMARY SECTION 
 ******************************************************************************/
#primary { float: left; width: 100%; background: #fff; }

/* HEADER */
#header { position: relative; padding-top: 20px; }
#header h1 { float: left; width: 100%; margin-top: 20px; border-top: 1px dotted #9f9c99; border-bottom: 1px dotted #9f9c99; padding: 20px 0; font-family: Georgia, serif; text-align: left; font-size: 38px; font-weight: normal; color: #000; }
#header h1.tagline { text-align: center; font-size: 27.3px; }

/* TITLE */
#title { font-family: Verdana, sans-serif; text-align: left; font-size: 38px; font-weight: bold; color: #000; }
#title img { vertical-align: -22px; padding-right: 20px; margin: 0px; }
#title a { color: #222; }
#header a { text-decoration: none; }

/* NAV */
ul#nav { position: absolute; top: 40px; right: 0; width: 450px; list-style: none; font-family: "Calibri", "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Helvetica,Arial,sans-serif; margin: 0; }
ul#nav li { float: right; height: 14px; padding-left: 47px; font-size: 16px; }
ul#nav li a { float: left; overflow: hidden; height: 14px; padding: 0px 5px 4px 5px; text-decoration: none; text-transform: uppercase; color: #878380; }
ul#nav li.discover a:hover { border-bottom: 2px solid #1A4977; color: #1A4977; }
ul#nav li.download a:hover { border-bottom: 2px solid #1B8D29; color: #1B8D29; }
ul#nav li.develop a:hover { border-bottom: 2px solid #B55722; color: #B55722; }

/* SUMMARY & FORM */
#summary, #form { float: left; width: 620px; padding: 10px 0 20px; }

/* SUMMARY */
#summary h2 { margin: 20px 0; }
#summary h3 { margin-bottom: 5px; padding-right: 20px; font-family: "Calibri", "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Helvetica,Arial,sans-serif; line-height: 24px; }
#summary h3 a { text-decoration: none; }
#summary h3 a:hover { text-decoration: underline; }
#summary h4 { margin: 30px 0 10px 0; font-size: 12px; font-weight: normal; letter-spacing: 2px; text-transform: uppercase; }
#summary h4.first-child { margin-top: 0; }
#summary p { margin-bottom: 20px; padding-right: 20px; font-family: "Calibri", "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Helvetica,Arial,sans-serif; font-size: 15px; line-height: 28px; }
#summary pre { margin-bottom: 20px; }
#summary p img { margin: 0 30px 30px 0; }
#summary ul, #summary ol { margin-bottom: 20px; padding-left: 20px; line-height: 24px; }
#summary ul li, #summary ol li { margin-bottom: 3px; font-family: "Calibri", "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Helvetica,Arial,sans-serif; font-size: 15px; }
#summary a.more { font-family: "Calibri", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif; font-size: 12px; font-weight: bold; }

/* FORM */
#form h2 { display: none; }
#form p { margin-bottom: 30px; padding-right: 20px; font-family: "Calibri", "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Helvetica,Arial,sans-serif; }
#form label { float: left; padding-bottom: 12px; font-family: "Calibri", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif; font-size: 12px; text-transform: uppercase; letter-spacing: 2px; }
#form div.box { width: 580px; padding: 10px; margin-bottom: 4px; border: 1px solid #9f9c99; border-radius: 8px; font-family: "Calibri", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;  font-size: 20px; }
#form div.box .comment { color: #777777; font-size: 70%; }
#form input.text, #form textarea { width: 580px; padding: 10px; border: 1px solid #9f9c99; border-radius: 8px; font-family: "Calibri", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;  font-size: 20px; }
#form input.text:focus, #form textarea:focus { border: 1px solid #555; }
#form input.button { padding: 5px 10px; font-size: 18px; text-transform: uppercase; border: 0; border-radius: 8px; cursor: pointer; }
#form input.button_inactive { color: #fff; background: #777777; padding: 5px 10px; font-size: 18px; text-transform: uppercase; border: 0; border-radius: 8px; cursor: pointer; }
#form input.button:hover, #form input.button:focus { cursor: pointer; }

/* DOWNLOAD */
#download h3 { font-weight: bold; }
#download ul li { margin-bottom: 10px; font-size: 14px; }

/* ASIDE */
#aside { float: right; width: 250px; padding: 40px 0; line-height: 21px; }
#aside h2 { margin-bottom: 10px; font-size: 12px; font-weight: normal; letter-spacing: 2px; text-transform: uppercase; }
#aside p { margin-bottom: 10px; font-size: 14px;  "Calibri", "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Helvetica,Arial,sans-serif; color: #878380;}

/* PORTFOLIO */
#portfolio { position: relative; float: left; width: 100%; }
#portfolio p.next a { position: absolute; z-index: 1000; top: 380px; left: 640px; float: left; border-radius: 100px; padding: 8px 12px 6px 12px; font-size: 10px; line-height: 10px; font-weight: bold; letter-spacing: 2px; text-transform: uppercase; text-decoration: none; color: #fff; }
#portfolio ul { list-style: none; }
#portfolio li { float: left; width: 100%; border-bottom: 1px dotted #9f9c99; padding: 40px 0; }
#portfolio li.last-child { border-bottom: 0; }
#portfolio div.summary { position: relative; right: 12px; float: left; }
#portfolio div.summary p { float: left; width: 624px; height: 424px; background: url(../img/backdrop.gif) 0 0 no-repeat; }
#portfolio div.summary img { float: left; padding: 17px 22px 27px 22px; }
#portfolio div.details { float: left; width: 276px; padding: 20px 0 0 16px; }
#portfolio div.details dt { padding: 20px 0 2px 0; font-size: 11px; font-weight: normal; letter-spacing: 2px; text-transform: uppercase; color: #878380; }
#portfolio div.details dd { font-size: 18px; line-height: 21px; font-family: "Calibri", "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Helvetica,Arial,sans-serif; }
#portfolio div.details dd strong { font-size: 22px; font-weight: normal; }
#portfolio div.details p { margin-top: 20px; }
#portfolio div.details a { text-decoration: none; }
#portfolio div.details a:hover { text-decoration: underline; }

/* WEBCHAT */
#webchat { margin: 120px 0px 20px; height: 500px; border: 1px dotted #9f9c99; }

/* IFRAME */
#iframe{ margin: 120px 0px 20px; }

/******************************************************************************
 SECONDARY SECTION 
 ******************************************************************************/
#secondary { float: left; width: 100%; border-top: 1px solid #dcdad4; background: #f4f4ed; }

/* SCREENSHOTS */
#screenshots { float: left; width: 100%; padding: 27px 0 20px; }
#screenshots h2 { font-family: "Calibri", "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Helvetica,Arial,sans-serif; font-size: 24px; line-height: 30px; font-weight: normal; }
#screenshots h3 { margin-bottom: 20px; font-size: 12px; font-weight: normal; letter-spacing: 2px; text-transform: uppercase; color: #878380; }
#screenshots ul { position: relative; float: left; right: 10px; width: 960px; list-style: none; }
#screenshots ul li { float: left; width: 296px; padding: 5px 10px; margin: 0 5px 20px 0; background: url(../img/thumbnail-backdrop.png) 0 0 no-repeat; }
#screenshots ul li.last-child { margin-right: 0; }
#screenshots ul li a { float: left; padding: 9px; border: 1px solid #fff; margin-bottom: 10px; background: #fff; }
#screenshots ul li a:hover { border-color: #dcdad4; }
#screenshots ul li img { float: left; width: 276px; height: 180px; }
#screenshots ul li p { padding-left: 10px; font-size: 11px; line-height: 13px; color: #6a635f; }
#screenshots ul li p strong { font-size: 12px; color: #453c37; }

/******************************************************************************
 TERTIARY SECTION 
 ******************************************************************************/
#tertiary { float: left; width: 100%; margin-top: 20px; }

/* FOOTER */
#footer { border: 0px; }
#tertiary #footer { color: #fff; font-size: 13px; }
#tertiary #footer a { text-decoration: none; color: #fff; border: none; }
#tertiary #footer a:hover { border-bottom: 1px dotted; color: #d2e0ec; background: transparent; }

/* STATUS */
#status { position: relative; float: left; width: 470px; min-height: 120px; padding-left: 80px; }
#status h2 { margin: 13px 0 16px 0; font-size: 14px; font-weight: normal; letter-spacing: 2px; text-transform: uppercase; }
#status span { line-height: 20px; }
#status span.more { line-height: 40px; }
#status img { height: 12px; }

/* CONTACT */
#contact { float: right; width: 350px; padding-bottom: 20px; }
#contact h2 { margin: 13px 0 16px 0; font-size: 14px; font-weight: normal; letter-spacing: 2px; text-transform: uppercase; }

/* COPYRIGHT */
#copyright { float: left; padding: 40px 0 40px 80px; }
#copyright p { font-size: 11px; }

/* GLOBAL */

.shadowed {
  margin: 20px 0;

  /* shadow effect for the main content */
  -webkit-box-shadow:0px 0px 20px #000000;
     -moz-box-shadow:0px 0px 20px #000000;
          box-shadow:0px 0px 20px #000000;

  background: white;
}

.nowrap {
  white-space: nowrap;
}

/* PROGRESS BAR */

.status {
  margin: 25px 0;
}

.xcsoar-progress {
  height: 10px;

  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;

  border: 1px solid white;
  margin-bottom: 8px;
}

.xcsoar-progress .bar {
  background: white;
  height: 10px;
  margin-left: -1px;

  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

/* BUTTONS */

.btn {
  text-decoration: none;
}

/* QUICKLINK LISTS */

ul.quicklinks {
  list-style: none;
  margin: 10px;
  line-height: 25px;
}

ul.quicklinks li {
  padding-left: 26px;
}

ul.quicklinks li a {
  text-decoration: none;
}

ul.quicklinks li a:hover {
  text-decoration: underline;
}

ul.quicklinks li.divider {
  height: 15px;
}

ul.quicklinks li.list-item-data {
  background: url('../img/icon-globe.png') 0 2px no-repeat;
}

ul.quicklinks li.list-item-windows {
  background: url('../img/icon-windows.png') 0 2px no-repeat;
}

ul.quicklinks li.list-item-wince {
  background: url('../img/icon-windows-mobile.png') 0 2px no-repeat;
}

ul.quicklinks li.list-item-android {
  background: url('../img/icon-android.png') 0 2px no-repeat;
}

ul.quicklinks li.list-item-linux {
  background: url('../img/icon-linux.png') 0 2px no-repeat;
}

ul.quicklinks li.list-item-mac {
  background: url('../img/icon-apple.png') 0 2px no-repeat;
}

ul.quicklinks li.list-item-xcsoar {
  background: url('../img/icon-xcsoar.png') 0 2px no-repeat;
}

/* DOWNLOADS */

ul#downloads a {
  color: #359A41;
}

ul#downloads a:hover {
  color: #1B8D29;
}

ul#downloads a:active {
  color: #359A41;
}

/* NEWS */

h2 small {
  color: #999999;
  font-size: 65%;
  font-weight: normal;
}

/* CONTACT LIST */

ul.contact {
  list-style: none;
  margin: 10px;
  line-height: 25px;
}

ul.contact li {
  padding-left: 26px;
  margin: 5px 0;
}

ul.contact li.list-item-irc {
  background: url('../img/icon-irc.png') 0 6px no-repeat;
}

ul.contact li.list-item-mail {
  background: url('../img/icon-email.png') 0 6px no-repeat;
}

ul.contact li.list-item-web {
  background: url('../img/icon-web.png') 0 6px no-repeat;
}
