/******************************************************************************
 MASTER STYLES FOR SCREEN MEDIA
 ******************************************************************************/

/* GLOBALS */

a { color: #3E73A7; }
a:hover { color: #1A4977; }
a:active { color: #3E73A7; }

/* HTML */
html { color: #453c37; background: url(../img/bg-blue.png) 50% 0 repeat; }

/* HIGHTLIGHT */
.highlight { color: #3E73A7; font-weight: bold; }

/******************************************************************************
 PRIMARY SECTION 
 ******************************************************************************/

/* NAV */
ul#nav li.current a { border-bottom: 2px solid #1A4977; color: #1A4977; }
