/******************************************************************************
 MASTER STYLES FOR SCREEN MEDIA
 ******************************************************************************/

/* GLOBALS */

a { color: #359A41; }
a:hover { color: #1B8D29; }
a:active { color: #359A41; }

/* HTML */
body { color: #453c37; background: url(../img/bg-green.png) 50% 0 repeat; }

/* HIGHTLIGHT */
.highlight { color: #359A41; font-weight: bold; }

/******************************************************************************
 PRIMARY SECTION
 ******************************************************************************/

/* NAV */
ul#nav li.current a { border-bottom: 2px solid #1B8D29; color: #1B8D29; }
