:link, :visited {
  color: inherit;
  border-bottom: inherit;
}

:link:hover, :visited:hover {
  color: inherit;
  background-color: inherit;
}

blockquote.citation {
    padding: 5px 15px;
    margin: 5px;
}

p {
    margin: 10px 0px;
}

#footer {
  border: 0px;
}

#secondary {
  padding: 0px;
}
