---
layout: default
color: blue
title: ... the open-source glide computer
tagline: true
---

			<script type="text/javascript">
			$(function() {
				$('#screenshots a.screenshot').lightBox({
					imageLoading: '/img/lightbox-ico-loading.gif',
					imageBtnClose: '/img/lightbox-btn-close.gif',
					imageBtnPrev: '/img/lightbox-btn-prev.gif',
					imageBtnNext: '/img/lightbox-btn-next.gif',
					imageBlank: '/img/lightbox-blank.gif'
				});
			});
			</script>

			<div id="summary">
				<h2>Introduction</h2>
				<h3>XCSoar is a tactical glide computer originally developed for the Pocket PC platform. In 2005, the originally 
				commercial software was given to the open-source community for further development and has constantly been improved 
				since. It is now a multi-platform application that currently runs on Windows, Windows Mobile, Unix and soon also on 
				Android devices.<br><br><a href="http://xcsoar.org/discover/" title="Learn more about XCSoar">Learn more...</a></h3>
                
                {% for post in site.posts limit: 5 %}
				<h2>{{ post.title }}</h2>
				<h3>{{ post.content }}</h3>
                {% endfor %}
			</div> 
			
			<div id="aside">
			    <a href="/download/" title="Download XCSoar v{{ site.xcsoar_stable_version }}"><img src="/img/download-button-6.png" alt="Download XCSoar v{{ site.xcsoar_stable_version }}"></a>
				<div style="padding-top: 0px; padding-bottom: 15px; padding-left: 20px;">
					<a href="http://max.kellermann.name/download/xcsoar/releases/{{ site.xcsoar_stable_version }}/PC/" title="Windows" style="text-decoration: none;" class="green">
						<img src="/img/windows-logo.png" alt="Windows" height="20" width="20" style="top: 8px; position: relative; padding: 3px;"> Windows
					</a><br/>
					<a href="http://max.kellermann.name/download/xcsoar/releases/{{ site.xcsoar_stable_version }}/WM5X/" title="Windows Mobile 5" style="text-decoration: none;" class="green">
						<img src="/img/windows-mobile-logo.png" alt="Windows Mobile 5" height="20" width="20" style="top: 8px; position: relative; padding: 3px;"> Windows Mobile 5 (XScale CPU)
					</a><br/>
					<a href="http://max.kellermann.name/download/xcsoar/releases/{{ site.xcsoar_stable_version }}/WM5/" title="Windows Mobile 5" style="text-decoration: none;" class="green">
						<img src="/img/windows-mobile-logo.png" alt="Windows Mobile 5" height="20" width="20" style="top: 8px; position: relative; padding: 3px;"> Windows Mobile 5 (older CPU)
					</a><br/>
					<a href="http://max.kellermann.name/download/xcsoar/releases/{{ site.xcsoar_stable_version }}/PPC2003/" title="Windows Mobile 2003" style="text-decoration: none;" class="green">
						<img src="/img/windows-mobile-logo.png" alt="Windows Mobile 2003" height="20" width="20" style="top: 8px; position: relative; padding: 3px;"> Windows Mobile 2003
					</a><br/>
					<a href="http://max.kellermann.name/download/xcsoar/releases/{{ site.xcsoar_stable_version }}/PPC2000/" title="Pocket PC 2000" style="text-decoration: none;" class="green">
						<img src="/img/windows-mobile-logo.png" alt="Pocket PC 2000" height="20" width="20" style="top: 8px; position: relative; padding: 3px;"> Pocket PC 2000
					</a><br/>
					<a href="http://max.kellermann.name/download/xcsoar/releases/{{ site.xcsoar_stable_version }}/ANDROID/" title="Android" style="text-decoration: none;" class="green">
						<img src="/img/android-logo.png" alt="Android" height="20" width="20" style="top: 8px; position: relative; padding: 3px;"> Android
					</a><br/>
					<a href="http://max.kellermann.name/download/xcsoar/releases/{{ site.xcsoar_stable_version }}/LINUX/" title="Linux" style="text-decoration: none;" class="green">
						<img src="/img/linux-logo.png" alt="Linux" height="20" width="20" style="top: 8px; position: relative; padding: 3px;"> Linux
					</a><br/>
				</div>
			    <a href="/discover/manual/" title="Download XCSoar Manual"><img src="/img/download-button-manual.png" alt="Download XCSoar Manual"></a>
				<div style="padding-top: 0px; padding-bottom: 15px; padding-left: 20px;">
					<a href="http://max.kellermann.name/download/xcsoar/releases/{{ site.xcsoar_stable_version }}/XCSoar-manual.pdf" title="Manual" style="text-decoration: none;">
						<img src="/img/xcsoar-logo.png" alt="Manual" height="20" width="20" style="top: 8px; position: relative; padding: 3px;"> Manual for XCSoar {{ site.xcsoar_stable_version }}
					</a><br/>
                    {% if site.xcsoar_testing_version != site.xcsoar_stable_version %}
					<a href="http://max.kellermann.name/download/xcsoar/releases/{{ site.xcsoar_testing_version }}/XCSoar-manual.pdf" title="Manual" style="text-decoration: none;">
						<img src="/img/xcsoar-logo.png" alt="Manual" height="20" width="20" style="top: 8px; position: relative; padding: 3px;"> Manual for XCSoar {{ site.xcsoar_testing_version }}
					</a><br/>
                    {% endif %}
				</div>
			</div> 

			{% include section_change.html %}

			<div id="screenshots">
				<h2>Screenshots</h2>
				<h3>Highlights of XCSoar's interface</h3>
				<ul>
					<li>
						<a href="/content/screenshots/map.png" title="Moving Map" class="screenshot">
						<img src="/content/screenshots/thumb-map.png" alt="Moving Map"/>
						</a>
						<p><strong>Moving Map</strong><br/>
							The primary display, easily configurable to provide the desired level of detail.</p>
					</li>
					<li>
						<a href="/content/screenshots/map_terrain1.png" title="Terrain Display" class="screenshot">
						<img src="/content/screenshots/thumb-map_terrain1.png" alt="Terrain Display"/>
						</a>
						<p><strong>Terrain Display</strong><br/>
							Terrain and Topology data from all over the world can be displayed on the moving map.</p>
					</li>
					<li class="last-child">
						<a href="/content/screenshots/map_flarm_traffic.png" title="FLARM Integration" class="screenshot">
						<img src="/content/screenshots/thumb-map_flarm_traffic.png" alt="FLARM Integration"/>
						</a>
						<p><strong>FLARM Integration</strong><br/>
							All received FLARM traffic is displayed on the map and on the inset radar screen. (including climb speed)</p>
					</li>
				</ul>
				<p>
				  <a href="/discover/screenshots/">More...</a>
				</p>
			</div> 