---
layout: default
color: blue
title: News
menu: discover
---

			<div id="summary">
                {% for post in site.posts %}
				<h2>
                    {{ post.title }}<br>
                    <span style="font-size: 10pt; color: #999999;">({{ post.date | date:'%e. %b %Y' }}{% if post.author %} by {{ post.author }}{% endif %})</span>
                </h2>
				<h3>{{ post.content | truncatewords: 50 }}<br><br><a href="{{ post.url }}">more...</a></h3>
                {% if post.previous %}
                <hr><br>
                {% endif %}
                {% endfor %}
			</div> 
            
            {% include discover_menu.html %}