			<div id="aside">
				<h2>Discover</h2>
				<ul>
					<li><a href="/discover/">About</a></li>
					<li><a href="/discover/news.html">News</a></li>
					<li><a href="/discover/features.html">Features</a></li>
					<li><a href="/discover/screenshots.html">Screenshots</a></li>
					<li><a href="/forum/">Forum</a></li>
					<li><a href="/discover/irc.html">IRC</a></li>
					<li><a href="/discover/mailinglist.html">Mailing lists</a></li>
					<li><a href="/discover/manual.html">Manual</a></li>
				</ul>
			</div>
