<div id="aside" class="span4 pull-right">
  <h2>Discover</h2>
  <ul>
    <li><a href="/discover/">About</a></li>
    <li><a href="/discover/news.html">News</a></li>
    <li><a href="/discover/features.html">Features</a></li>
    <li><a href="/discover/screenshots/">Screenshots</a></li>
    <li><a href="http://forum.xcsoar.org/">Forum</a></li>
    <li><a href="/discover/irc.html">IRC</a></li>
    <li><a href="/discover/mailinglist.html">Mailing lists</a></li>
    <li><a href="/discover/manual.html">Manual</a></li>
    <li><a href="/discover/logos.html">Logos</a></li>
  </ul>
  <hr/>
</div>
