<div id="aside" class="span4 pull-right">
  <h2>XCSoar Releases</h2>
  <ul>
    <li>
      {% if page.version == 'stable' %}<b><a>XCSoar {{ site.xcsoar_stable_version }}</a></b>{% else %}<a href="/download/index.html">XCSoar {{ site.xcsoar_stable_version }}</a>{% endif %}<br/>
      The current stable version.
    </li>
    {% if site.xcsoar_testing_version %}
    <li>
      {% if page.version == 'latest' %}<b><a>XCSoar {{ site.xcsoar_testing_version }} (development)</a></b>{% else %}<a href="/download/latest.html">XCSoar {{ site.xcsoar_testing_version }} (development)</a>{% endif %}<br/>
      The latest 'bleeding edge' developer version.<br/>(potentially unstable, recommended for testing only)
    </li>
    {% endif %}
    <li>
      {% if page.version == 'old' %}<b><a>XCSoar {{ site.xcsoar_old_version }}</a></b>{% else %}<a href="/download/old.html">XCSoar {{ site.xcsoar_old_version }}</a>{% endif %}<br/>
      The old stable version.
    </li>
  </ul>

  <hr/>

  <p><a href="/download/data.html" class="btn btn-success btn-large btn-block">Download Data Files</a></p>
  <p>Download <a href="/download/data.html"><span class="highlight">Maps, Waypoints, Airspace</span></a>, or use our <a href="{{ site.mapgen_url }}"><span class="highlight">Map Generator</span></a> to create custom maps of your area.</p>

  <hr/>
</div>
