      </div>
    </div>
  </div>

  <footer class="container">
    <div class="row">
      <div class="span6">
        <h2>Status</h2>
        <div id="status_err" class="status">
          <span>Not available</span>
        </div>
        <div id="status_ok" class="status" style="display: none;">
          <div class="xcsoar-progress">
            <div class="bar" style="width: 64%;"></div>
          </div>
          <p>
            {{ site.xcsoar_next_milestone }} &ndash;
            <span id="percent">64</span>% done &ndash;
            <a href="http://bugs.xcsoar.org/milestone/{{ site.xcsoar_next_milestone }}">more...</a>
          </p>
        </div>
      </div>

      <div class="span6">
        <h2>XCSoar</h2>
        <ul class="contact">
          <li class="list-item-irc">
            <a href="{{ server_url }}/discover/irc.html" title="Visit our IRC channel">irc.freenode.net .. #xcsoar</a>
          </li>
          <li class="list-item-mail">
            <a href="{{ server_url }}/discover/mailinglist.html" title="Visit our mailing list">xcsoar-user @ lists.sourceforge.net</a>
          </li>
          <li class="list-item-web">
            <a href="{{ server_url }}">http://www.xcsoar.org</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="span12 copyright">
        <p>
          <strong>XCSoar</strong> is Free Software released under the <a href="http://www.gnu.org/licenses/old-licenses/gpl-2.0.txt">GNU/GPL License</a>
          ..
          <span class="nowrap">Copyright &copy; 2000-2012</span></p>
      </div>
    </div>
  </footer>
</body>
</html>
