{% if page.trac %}

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      py:strip="">
<head py:match="head" py:attrs="select('@*')">
  ${select('*|comment()|text()')}

{% elsif page.forum %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}" xml:lang="{S_USER_LANG}">
<head>

  <meta http-equiv="content-type" content="text/html; charset={S_CONTENT_ENCODING}" />
  <meta http-equiv="content-style-type" content="text/css" />
  <meta http-equiv="content-language" content="{S_USER_LANG}" />
  <meta http-equiv="imagetoolbar" content="no" />
  <meta name="resource-type" content="document" />
  <meta name="distribution" content="global" />
  <meta name="copyright" content="2000, 2002, 2005, 2007 phpBB Group" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9" />
  {META}
  <title>{SITENAME} &bull; <!-- IF S_IN_MCP -->{L_MCP} &bull; <!-- ELSEIF S_IN_UCP -->{L_UCP} &bull; <!-- ENDIF -->{PAGE_TITLE}</title>

  <!-- IF S_ENABLE_FEEDS -->
	  <!-- IF S_ENABLE_FEEDS_OVERALL --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {SITENAME}" href="{U_FEED}" /><!-- ENDIF -->
	  <!-- IF S_ENABLE_FEEDS_NEWS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_NEWS}" href="{U_FEED}?mode=news" /><!-- ENDIF -->
	  <!-- IF S_ENABLE_FEEDS_FORUMS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_ALL_FORUMS}" href="{U_FEED}?mode=forums" /><!-- ENDIF -->
	  <!-- IF S_ENABLE_FEEDS_TOPICS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_TOPICS_NEW}" href="{U_FEED}?mode=topics" /><!-- ENDIF -->
	  <!-- IF S_ENABLE_FEEDS_TOPICS_ACTIVE --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_TOPICS_ACTIVE}" href="{U_FEED}?mode=topics_active" /><!-- ENDIF -->
	  <!-- IF S_ENABLE_FEEDS_FORUM and S_FORUM_ID --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FORUM} - {FORUM_NAME}" href="{U_FEED}?f={S_FORUM_ID}" /><!-- ENDIF -->
	  <!-- IF S_ENABLE_FEEDS_TOPIC and S_TOPIC_ID --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_TOPIC} - {TOPIC_TITLE}" href="{U_FEED}?f={S_FORUM_ID}&amp;t={S_TOPIC_ID}" /><!-- ENDIF -->
  <!-- ENDIF -->

{% else %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>XCSoar - {{ page.title }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

{% endif %}

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link rel="shortcut icon" type="image/ico" href="{{ site.server_url }}/favicon.ico"/>

  <link href="{{ site.server_url }}/atom.xml" type="application/atom+xml" rel="alternate" title="XCSoar.org ATOM feed" />

{% if page.trac %}
  {% bundle %}
  - /lib/bootstrap/bootstrap-normalize.css
  - /lib/bootstrap/bootstrap-button.css
  - /lib/bootstrap/bootstrap-grid.css
  - /css/xcsoar.css
  - /lib/jquery-lightbox/jquery.lightbox-0.5.css
  - /css/xcsoar-{{ color }}.css
  - /css/xcsoar-trac.css
  {% endbundle %}
{% else %}
  {% bundle %}
  - /lib/bootstrap/bootstrap-normalize.css
  - /lib/bootstrap/bootstrap-button.css
  - /lib/bootstrap/bootstrap-grid.css
  - /css/xcsoar.css
  - /lib/jquery-lightbox/jquery.lightbox-0.5.css
  - /css/xcsoar-{{ color }}.css
  - /css/xcsoar-not-trac.css
  {% endbundle %}
{% endif %}

{% bundle %}
- /lib/jquery-1.8.2.min.js
- /lib/jquery-lightbox/jquery.lightbox-0.5.min.js
- /lib/jquery-xdomainajax/jquery.xdomainajax.js
- /js/google-analytics.js
{% endbundle %}
  
  <script type="text/javascript" src="{{ site.server_url }}/js/update_progress.js"></script>

{% if page.forum %}
  <!--
	  phpBB style name: prosilver
	  Based on style:   prosilver (this is the default phpBB3 style)
	  Original author:  Tom Beddard ( http://www.subBlue.com/ )
	  Modified by:

	  NOTE: This page was generated by phpBB, the free open-source bulletin board package.
	        The phpBB Group is not responsible for the content of this page and forum. For more information
	        about phpBB please visit http://www.phpbb.com
  -->

  <script type="text/javascript">
  // <![CDATA[
	  var jump_page = '{LA_JUMP_PAGE}:';
	  var on_page = '{ON_PAGE}';
	  var per_page = '{PER_PAGE}';
	  var base_url = '{A_BASE_URL}';
	  var style_cookie = 'phpBBstyle';
	  var style_cookie_settings = '{A_COOKIE_SETTINGS}';
	  var onload_functions = new Array();
	  var onunload_functions = new Array();

	  <!-- IF S_USER_PM_POPUP -->
		  if ({S_NEW_PM})
		  {
			  var url = '{UA_POPUP_PM}';
			  window.open(url.replace(/&amp;/g, '&'), '_phpbbprivmsg', 'height=225,resizable=yes,scrollbars=yes, width=400');
		  }
	  <!-- ENDIF -->

	  /**
	  * Find a member
	  */
	  function find_username(url)
	  {
		  popup(url, 760, 570, '_usersearch');
		  return false;
	  }

	  /**
	  * New function for handling multiple calls to window.onload and window.unload by pentapenguin
	  */
	  window.onload = function()
	  {
		  for (var i = 0; i < onload_functions.length; i++)
		  {
			  eval(onload_functions[i]);
		  }
	  }

	  window.onunload = function()
	  {
		  for (var i = 0; i < onunload_functions.length; i++)
		  {
			  eval(onunload_functions[i]);
		  }
	  }

  // ]]>
  </script>
  <script type="text/javascript" src="{T_TEMPLATE_PATH}/styleswitcher.js"></script>
  <script type="text/javascript" src="{T_TEMPLATE_PATH}/forum_fn.js"></script>

  <link href="{T_THEME_PATH}/print.css" rel="stylesheet" type="text/css" media="print" title="printonly" />
  <link href="{T_STYLESHEET_LINK}" rel="stylesheet" type="text/css" media="screen, projection" />

  <link href="{T_THEME_PATH}/normal.css" rel="stylesheet" type="text/css" title="A" />
  <link href="{T_THEME_PATH}/medium.css" rel="alternate stylesheet" type="text/css" title="A+" />
  <link href="{T_THEME_PATH}/large.css" rel="alternate stylesheet" type="text/css" title="A++" />

  <!-- IF S_CONTENT_DIRECTION eq 'rtl' -->
	  <link href="{T_THEME_PATH}/bidi.css" rel="stylesheet" type="text/css" media="screen, projection" />
  <!-- ENDIF -->

  {% bundle %} [/css/xcsoar-forum.css] {% endbundle %}
{% endif %}

</head>

{% if page.trac %}
<body py:match="body" py:attrs="select('@*')">
{% elsif page.forum %}
<body id="phpbb" class="section-{SCRIPT_NAME} {S_CONTENT_DIRECTION}">
{% else %}
<body>
{% endif %}

<div class="shadowed">
  <div id="primary">
    <div class="container">
      <div class="row">
        <div id="logo" class="span4">
          <a href="{{ site.server_url }}/"><img src="{{ site.server_url }}/img/logo-{{ color }}.png" alt="XCSoar"/></a>
        </div>
        <div class="span8">
          <ul id="nav">
            <li class="discover{% if page.menu == 'discover' %} current{% endif %}"><a href="{{ site.server_url }}/discover/" title="Discover what XCSoar has to offer">Discover</a></li>
            <li class="download{% if page.menu == 'download' %} current{% endif %}"><a href="{{ site.server_url }}/download/" title="Download XCSoar and the map files">Download</a></li>
            <li class="develop{% if page.menu == 'develop' %} current{% endif %}"><a href="{{ site.server_url }}/develop/" title="Help us to develop XCSoar even further">Develop</a></li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div id="title" class="span12">
          <h1{% if page.tagline %} class="tagline"{% endif %}>{{ page.title }}</h1>
        </div>
      </div>

