{% if page.trac %}

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      py:strip="">
<head py:match="head" py:attrs="select('@*')">
  ${select('*|comment()|text()')}

{% else %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>XCSoar - {{ page.title }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

{% endif %}

  <link rel="shortcut icon" type="image/ico" href="{{ site.server_url }}favicon.ico"/>

  <link href="{{ site.server_url }}atom.xml" type="application/atom+xml" rel="alternate" title="XCSoar.org ATOM feed" />

{% bundle %}
- /lib/bootstrap/bootstrap-normalize.css
- /lib/bootstrap/bootstrap-button.css
- /css/xcsoar.css
- /lib/jquery-lightbox/jquery.lightbox-0.5.css
{% endbundle %}

{% bundle %}
- /css/xcsoar-{{ color }}.css
{% endbundle %}

{% if page.trac %}
  {% bundle %} [/css/xcsoar-trac.css] {% endbundle %}
{% else %}
  {% bundle %} [/css/xcsoar-not-trac.css] {% endbundle %}
{% endif %}

{% bundle %}
- /lib/jquery-1.4.2.min.js
- /lib/jquery-lightbox/jquery.lightbox-0.5.min.js
- /js/google-analytics.js
{% endbundle %}
  
  <script type="text/javascript" src="{{ site.server_url }}js/update_progress.js"></script>

{% if page.trac %}
  <script type="text/javascript">
    $(document).ready(function() {
    $('#secondary').append($('#primary #footer').detach());
    $('#primary #content #banner #header').css("display", "none");
    $('#secondary #footer #tracpowered img').attr("src", "{{ site.server_url }}img/trac_logo_mini.png");
    });
  </script>
{% endif %}
</head>

{% if page.trac %}
<body py:match="body" py:attrs="select('@*')">
{% else %}
<body>
{% endif %}
