<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>XCSoar - {{ page.title }}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" type="text/css" href="/css/xcsoar-not-trac.css"/>
	<link rel="stylesheet" type="text/css" href="/css/xcsoar-{{ color }}.css"/>
	<link rel="stylesheet" type="text/css" href="/css/xcsoar.css"/>
	<link rel="stylesheet" type="text/css" href="/css/jquery.lightbox-0.5.css" media="screen" />
	<link rel="shortcut icon" type="image/ico" href="/img/favicon.ico"/>
  
	<!--[if IE 6]>
		<link rel="stylesheet" href="/css/ie6.css" type="text/css"/>
	<![endif]-->

	<script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="/js/jquery.lightbox-0.5.min.js"></script>
	
	<script type="text/javascript" src="/js/update_progress.js"></script>
	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-20378879-1']);
	  _gaq.push(['_setDomainName', '.xcsoar.org']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>