{% assign color = 'green' %}

        {% include html_head.html %}
        
        {% include header.html %}

		<div id="content">	
			<div id="summary">
				<div id="download">
                    {% include download_versions.html %}
                
                    {{ content }}
				</div>
			</div> 

            {% include download_sidebar.html %}
			{% include section_change.html %}

			<div id="details">
				<h2>Files</h2>
				<h3>These files can be used with XCSoar</h3>
				<ul class="files">
					<li>Map File<br/><span class="detail">A map file (.xcm) is a file, that can contain terrain, topology, waypoint and airspace files itself. These files can be created with our new <a href="http://mapgen.xcsoar.org">Map Generator</a>.</span></li>
					<li>Airspace File<br/><span class="detail">An airspace file (.txt) is a file, that contains special use airspace information and coordinates in the OpenAir file format.</span></li>
					<li>Waypoint File<br/><span class="detail">A waypoint file (.xcw / .dat) is a file, that contains waypoints, airports and outlanding fields in the WinPilot/Cambridge waypoint format.<br/><i>(Support for SeeYou and Zander files is included in v6.0)</i></span></li>
					<li>Airfields File<br/><span class="detail">An airfields file (.txt) is a file, that contains detailed information about the loaded waypoints, that is available on a seperate page of the Waypoint Details dialog.</span></li>
				</ul>
            </div>         
        </div> 
        
        {% include footer.html %}
