---
on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4.7
          bundler-cache: true
      - name: install dependencies
        run: |
          sudo apt-get install \
            yui-compressor \
            librsvg2-bin \
            rsync
      - name: build website
        run: bundle exec jekyll build --future
      - name: rsync deployments
        uses: burnett01/rsync-deployments@5.2
        with:
          switches: -rv --delete
          path: _site/
          remote_path: /var/wwwusers/www.xcsoar.org/public_html/
          remote_host: www.xcsoar.org
          remote_user: website
          remote_key: ${{ secrets.DEPLOY_KEY }}
        if: github.ref == 'refs/heads/master'
